<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>SearchLinks</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <style>
    .btn btn-primary{
        max-block-size: 1000px;
    }
    </style>
    <body style="background-color :rgb(245, 245, 173)">
        <form method="post" action="/search">
            </br></br></br></br></br></br></br></br>
            <center>
                <h1 style="background-position: center"><font size="18">Search in Popular websites</font></h1></br>
               <input type="text" name="t1" size="45"  style=" font-size: 16px ;height :50px ; border-radius: 50px ; width: fit-content " placeholder="Search Here or Typr here"></br></br>
                <button type="submit" class="btn btn-primary" style="font-size: 23px">Search</button>
            </center>
        </form>
    </body>
</html>
 
